// Sækja config
// Allir stílar fyrir bækur

@import 'styles/config';

.myndir img {
  height: 200px;
  object-fit: cover;
  transition: $transition1;
  width: 100%;
}

.product-card {
  background-color: $ljosgrar;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  word-break: break-word;

  &:hover img {
    transform: $transf-scale;
  }
}

.myndir {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem;
  text-align: start;
}

.nofn {
  font-weight: 400;
  margin-bottom: $margin-bottom;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
}

.kaupa {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

button {
  background-color: $dokkgrar;
  border: 1px solid $svartur;
  border-radius: 0.4rem;
  color: $nanasthvitur;
  padding: 0.5rem;

  &:hover {
    background-color: $nanasthvitur;
    color: $svartur;
    cursor: pointer;
    transition: $transition2; //Þarf að gera Variable
  }

  &:active {
    background-color: $dokkgrar;
    border: 1px solid $svartur;
    border-radius: 0.4rem;
    color: $nanasthvitur;
    padding: 0.5rem;
    transition: $transition2; // Þarf að búa til Variable
  }
}
