// Sækja config
// Allir stílar fyrir bækur

@import 'styles/config';

.product-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  word-break: break-word;
  background-color: $ljosgrar;
  height: 100%;

  &:hover img {
    transform: $transf-scale;
  }
}

.myndir {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.myndir img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  transition: $transition1;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0.5rem;
  flex: 1;
}

.nofn {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: $margin-bottom;
}

h3 {
  font-size: 1.5rem;
}

.kaupa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

button {
  background-color: $dokkgrar;
  color: $nanasthvitur;
  padding: 0.5rem;
  border: 1px solid $svartur;
  border-radius: 0.4rem;

  &:hover {
    transition: $transition2; //Þarf að gera Variable
    background-color: $nanasthvitur;
    cursor: pointer;
    color: $svartur;
  }

  &:active {
    transition: $transition2; // Þarf að búa til Variable
    background-color: $dokkgrar;
    color: $nanasthvitur;
    padding: 0.5rem;
    border: 1px solid $svartur;
    border-radius: 0.4rem;
  }
}
