// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg


// Grid
$max-width: 1200px;
$margin-bottom: 0.5rem;


//Colors
$ljosgrar: #ccc;
$svartur: #000;
$dokkgrar: #222;
$nanasthvitur: #eee;
$hvitur: #fff;


//Transitions
$transform-style: preserve-3d;
$transf-rot: rotateY(180deg);
$transf-scale: scale(1.3);
$transition1: transform 0.3s ease-in-out;
$transition2: all 0.3s;
