// Sækja config
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
@import 'styles/config';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $dokkgrar;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Georgia, serif;
}

a {
  color: $dokkgrar;
}
